<h3>CART</h3>

<p *ngIf="items.length === 0">Your cart is empty!</p>

<p><a *ngIf="items.length > 0" [routerLink]="['./shipping']">View Shipping Details</a></p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" *ngIf="items.length > 0" (ngSubmit)="onCheckout(checkoutForm.value)">

  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div>
    <label for="address"></label>
    <input type="input" id="address" formControlName="address">
  </div>
  
  <button class="button" type="submit">Purchase</button>
</form>

<button class="button" *ngIf="items.length > 0" (click)="clearCart()">Clear Cart</button>